button i {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.4px;
}

.customer__list-action button {
    padding: 7px;
    color: white;
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}

button:hover {
    outline-color: orangered;
}

.customer__list-info {
    border: black solid 1px;
    background-color: var(--main-color);
}

.customer__list-edit {
    border: black solid 1px;
    background-color: var(--main-color);
}
